.addForm {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

input, select {
  border: 0;
  font-size: .9rem;
  padding: .5em;
}

.field {
  width: 33.3%;
  padding: .5em 1em;
  background-color: #d1c4e9;
}

.fieldName {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}