.register {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
}

.pageName {
  display: block;
  text-transform: uppercase;
  text-align: center;
}

.registerForm {
  max-width: 23rem;
  margin: 1.2rem 0;
  padding: 1.2em 1.5em;
  border-radius: 1rem;
  box-shadow: 10px 9px 26px -12px rgba(0,0,0,0.68);
  background: #ffca28;
}

.field {
  margin-bottom: 1em;
}

.fieldName {
  display: inline-block;
  min-width: 6rem;
  font-size: .8rem;
}

.email,
.password {
  outline: 0;
  border: 0;
  padding: .5em .6em;
  border-radius: 4px;
}

.errorMsg {
  margin-bottom: 0.8em;
  font-size: .8rem;
  color: #ff3d00;
}

.button {
  width: 100%;
  padding: .5em 1em;
  outline: 0;
  border: 0;
  border-radius: 4px;
  background: #000;
  cursor: pointer;
  color: #fff;
  transition: all ease .3s;
}

.button:hover {
  background: #fff;
  color: #000;
}
